<%- include("_header") -%>

<h1>About Group 42 CPAD - Forceful Vaccinator Demo</h1>

<h2>Forceful Vaccinator</h2>
<p></p>Software to be used:</p>
<ol>
    <li>DB: SQL Lite</li>
    <li>Backend: Node JS, Express JS</li>
    <li>Frontend: React Native</li>
</ol>

<%- include("_footer") -%>
